


<!--instructor-->

html, body{
    background-color: #0059ff;
}

div {
    background-color: lightyellow;
}

span {
    padding-right: 20px;
}

.links {
    background-color: lightgray;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
}
.links:hover {
    text-decoration: red;
  }



#mainHeading {
    font-size: 150%;
    color: rgb(217, 255, 0);
    }


.paragraphStyles {
    color:rgb(0, 255, 13);
    font-style: italic;
    background-color: black;
    font-size: 30px;
    }

    #picture {
        text-align: center;
    }

    #label{
        color:rgb(217, 255, 0)
    }


.tableHeading {
    text-align: left;
    color: purple;
    font-size: 30px;
    }
